<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ch.dao.BoardDao">
    <select id="count" resultType="int">
        SELECT count(*)
        FROM board
    </select>

    <delete id="deleteAll">
        DELETE
        FROM board
    </delete>

    <delete id="delete" parameterType="map">
        DELETE
        FROM board
        WHERE bno = #{bno}
          and id = #{id}
    </delete>

    <insert id="insert" parameterType="BoardDto">
        INSERT INTO board
        (title, content, id, nickname)
        VALUES (#{title}, #{content}, #{id}, #{nickname})

        <selectKey keyProperty="bno" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

    </insert>

    <select id="selectAll" resultType="BoardDto">
        SELECT bno,
               title,
               content,
               id,
               nickname,
               view_cnt,
               comment_cnt,
               reg_date
        FROM board
        ORDER BY reg_date DESC, bno DESC
    </select>

    <sql id="selectFromBoard">
        SELECT bno,
               title,
               content,
               id,
               nickname,
               view_cnt,
               comment_cnt,
               reg_date
        FROM board
    </sql>


    <select id="select" parameterType="int" resultMap="BoardFileDto">
        <include refid="selectFromBoard"/>
        WHERE bno = #{bno}
    </select>

    <resultMap id="BoardFileDto" type="BoardDto">
        <result property="bno" column="bno"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="view_cnt" column="view_cnt"/>
        <result property="comment_cnt" column="comment_cnt"/>
        <result property="file_cnt" column="file_cnt"/>
        <result property="reg_date" column="reg_date"/>
        <collection property="fileDtolist" column="bno" javaType="list" ofType="FileDto" select="getFilelist"/>
    </resultMap>

    <!--    resultMap 안에서 fileDto를 가져오려고   FileMapper.xml에서 이것만 가져왔다-->
    <select id="getFilelist" parameterType="int" resultType="FileDto">
        SELECT *
        FROM file
        WHERE bno = #{bno}
    </select>

    <select id="selectPage" parameterType="map" resultType="BoardDto">
        <include refid="selectFromBoard"/>
        ORDER BY reg_date DESC, bno DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <update id="update" parameterType="BoardDto">
        UPDATE board
        SET title   = #{title}
          , content = #{content}
          , up_date = now()
        WHERE bno = #{bno}
          and id = #{id}
    </update>

    <update id="updateCommentCnt" parameterType="map">
        UPDATE board
        SET comment_cnt = comment_cnt + #{cnt}
        WHERE bno = #{bno}
    </update>

    <update id="updateFileCnt" parameterType="map">
        UPDATE board
        SET file_cnt = file_cnt + #{cnt}
        WHERE bno = #{bno}
    </update>

    <update id="increaseViewCnt" parameterType="int">
        UPDATE board
        SET view_cnt = view_cnt + 1
        WHERE bno = #{bno}
    </update>

    <sql id="searchCondition">
        where true
        <choose>
            <when test='option=="T"'>
                and title like concat('%', #{keyword},'%')
            </when>
            <when test='option=="W"'>
                and nickname like concat('%', #{keyword},'%')
            </when>
            <otherwise>
                and title like concat('%', #{keyword},'%')
                or content like concat('%', #{keyword},'%')
            </otherwise>
        </choose>

    </sql>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="BoardDto">
        SELECT bno, title, content, id,nickname, view_cnt, comment_cnt, reg_date
        FROM board
        <include refid="searchCondition"/>
        ORDER BY reg_date DESC, bno DESC
        LIMIT #{offset},
        #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM board
        <include refid="searchCondition"/>

    </select>

</mapper>