<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ch.dao.BrandDao">
    <insert id="enroll">
        insert into brand (brandName, brandintro)
        values (#{brandName}, #{brandIntro})
    </insert>
    
    <select id="count" resultType="int">
        SELECT count(*)
        FROM brand
    </select>

    <select id="check" resultType="int">
        SELECT count(*)
        FROM brand
        where brandName = #{brandName}
    </select>

    <select id="selectPage" resultType="BrandDto">
        select *
        from brand
        ORDER BY reg_date asc, brandId asc
            LIMIT #{offset},
                 #{pageSize}
    </select>

</mapper>